:root {
  --color-primary: #431123;
  --color-secondary: #1a2030;
  --color-accent: #c1b970;
  --color-neutral-grey: #e0dede;
  --font-primary: "Abhaya Libre", serif;
  --font-secondary: "Quicksand", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

p {
  font-family: var(--font-primary);
}

a {
  color: var(--color-accent);
  font-family: var(--font-primary);
}

ul li,
ol li,
dl,
dt,
dd {
  color: var(--color-secondary);
  font-family: var(--font-primary);
}

blockquote {
  font-family: var(--font-primary);
  color: var(--color-accent);
}
