:root {
  --color-primary: #431123;
  --color-secondary: #1a2030;
  --color-accent: #c1b970;
  --color-neutral-grey: #e0Dede;

  --font-primary: 'Quicksand', sans-serif;
  --font-secondary: 'Abhaya Libre', serif;
}

html {
  font-family: var(--font-primary);
}
